body {
    font-size: 15pt;
    background-image:linear-gradient(to bottom,var(--input-color),var(--base-color));
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
    background-attachment: fixed;
    padding:0;
    margin:0;
}

html{
  height:100%
}

* {
  box-sizing:border-box;
}

:root{
  --base-color:#2F294A;
  --main-color:#2a1885;
  --accent-color:#EBBC2C;
  --background-color:#0a061d;
  --text-color: #eeeeee;
  --input-color: #000000
}

main {
  margin:1rem;
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 0.5fr 0.5fr 1.5fr 0.5fr 2fr;
  grid-template-areas: "question question question question" ". form form ." "result result result result" "select-mode select-mode select-mode select-mode" "description description description description";
  gap:1rem;
  
}

#form button[type="submit"]{
    border-radius:4px;
    background-color:var(--accent-color);
    border:none;
    width:12rem;
    height:6rem;
    grid-area: submit;
    margin:1rem;
    font-size:150%;
    font-weight:bold;
    align-self: center;
    justify-self: center;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5); 
}

#form {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: "picker" "submit";
    grid-area:form;
}

#form .color-picker-container{
  grid-area:"picker";
  align-self: center;
  justify-self: center;
  position: relative;
}

#form .pcr-button{
  width:10rem;
  height:8rem;
}

.result{
  border-radius:16px;
  grid-area:result;
  background-color:var(--base-color);
  text-align: center;
  padding:1rem;
  height:fit-content;
}

.point{
  text-align:right;
  display:block;
  min-width:8rem;
  padding:0.5rem;
  border-radius:4px;
  background-color:var(--main-color);
  color:var(--text-color);
}

.show-color{
  width:100%;
  height:10rem;
  padding:0.3rem;
  text-align:center;
  background-color:var(--color);
  border-radius:4px
}

.question{
  position: relative;
  grid-area: question;
  display:grid;
  text-align:center;
  align-items:center;
  background-color:var(--base-color);
  border-radius:16px;
  gap:0;
  grid-template-rows: 0.5fr 3fr 0.8fr;
  grid-template-columns: 1fr;
  grid-template-areas: "subText" "question-color" "";
}

.question-color{
  grid-area:"question-color";
  font-weight:bold;
  font-size:500%;
}

.failed{
  animation: failed 1s ease-in;
}

@keyframes failed{
  from{
    border-color: red;
  }
  to{
    border-color: #00000000;
  }
}

.correct{
  animation: correct 1s ease-in;
}

@keyframes correct{
  from{
    border-color: green;
  }
  to{
    border-color: #00000000;
  }
}

.select-mode{
  background-color:var(--base-color);
  padding:2rem 1rem;
  border-radius:16px;
  grid-area:select-mode;
  display:grid;
  height:10rem;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "easy normal hard";
  gap:1rem;
}

.select-mode button:nth-child(1){
  grid-area:easy;
  background-color: greenyellow;
  color:#111111;
}

.select-mode button:nth-child(2){
  grid-area:normal;
  background-color: #ffd400;
  color: #111111;
}

.select-mode button:nth-child(3){
  grid-area:hard;
  background-color: #cc0000
}

.select-mode button{
  background-color:var(--main-color);
  border-radius:8px;
  border:none;
  font-size:80%;
  font-weight: bold;
  color:var(--text-color);
}

.select-mode button:active{
  transform: scale(1.1);
  transition: 0.3s;
}

.description{
  grid-area:description;
  padding:1rem;
  background-color:var(--base-color);
  border-radius:16px;
  color:var(--text-color);
}

header{
  display:flex;
  justify-content: space-between;
  width:100vw;
  position: sticky;
  background-color:#111111cc;
  padding:1rem 1.2rem;
  top:0;
  z-index:500;
}

.frame {
  border:2rem solid #00000000;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width:100vw;
  height:100vh;
  pointer-events: none;
  z-index: 9999;
}

.color-picker-text{
  position: absolute;
  top:40%;
  left:30%;
  z-index:1;
  font-weight: bold;
  pointer-events: none;
}

.pcr-app{
  position: absolute;
  top:550px !important;
}
.pcr-hue{
  width:70px!important;
  border-radius: 0 !important;
}

.question-color-sub-text{
  grid-area:"subText";
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0;
  padding:0;
  font-size:160%;
  position: relative;
  top:25px;
  font-weight: bold;
}

.status{
  font-size:150%;
  background-color:var(--base-color);
  padding:0.3rem;
  border-radius:4px;
}